{{#if details.fullName}}
   <div>
      <span class="p-key"> Company Name: </span>
      <span class="p-value">{{details.fullName}} <a href={{details.dorgCompanyUrl}}> View in DiscoverOrg </a></span>
   </div>
 {{/if}}

 {{#if details.description}}
    <div>
       <span class="p-key"> Company Description: </span>
       <span class="p-value">{{details.description}}</span>
    </div>
  {{/if}}

  {{#if details.linkedinUrl}}
     <div>
        <span class="p-key"> LinkedIn: </span>
        <span class="p-value"><a href="https://{{details.linkedinUrl}}"> LinkedIn Profile</a></span>
     </div>
   {{/if}}

   {{#if details.ownershipType}}
      <div>
         <span class="p-key"> Ownership Type: </span>
         <span class="p-value">{{details.ownershipType}}</span>
      </div>
    {{/if}}

    {{#if details.numberOfLocations}}
       <div>
          <span class="p-key"> Number of Locations: </span>
          <span class="p-value">{{details.numberOfLocations}}</span>
       </div>
     {{/if}}

     {{#if details.companyDepartments}}
    <div>
        {{#each details.companyDepartments as |data|}}
        <i class = "fa fa-info-circle #ADADAD"></i><span class = "p-key"> Department Name: </span> <span class = "p-value">{{data.departmentName}}</span>
            <ul>
              <li><span class = "p-key"> Number of Employees: </span> <span class = "p-value">{{data.numEmployees}}</span></li>
              <li><span class = "p-key"> Budget: </span> <span class ="p-value">{{data.budget}}</span></li>
          </ul>
        {{/each}}
    </div>
      {{/if}}

      {{#if details.data.fullName}}
         <div>
            <span class="p-key"> Full Name: </span>
            <span class="p-value">{{details.data.fullName}} <a href="https://go.discoverydb.com/eui/#/person/{{details.data.id}}"> View in DiscoverOrg </a></span>
         </div>
       {{/if}}

       {{#if details.data.notes}}
          <div>
             <span class="p-key"> Notes: </span>
             <span class="p-value">{{details.data.notes}}</span>
          </div>
        {{/if}}

        {{#if details.linkedinUrl}}
           <div>
              <span class="p-key"> LinkedIn: </span>
              <span class="p-value"><a href="https://{{details.data.linkedinUrl}}"> View in LinkedIn</a></span>
           </div>
         {{/if}}

         {{#if details.data.reportsTo.fullName}}
            <div>
               <span class="p-key"> Reports To: </span>
               <span class="p-value">{{details.data.reportsTo.fullName}}</span> - <span class= "p-value">{{details.data.reportsTo.title}}</span>
            </div>
          {{/if}}

         {{#if details.data.company.fullName}}
            <div>
               <span class="p-key"> Company: </span>
               <span class="p-value">{{details.data.company.fullName}}</span>
            </div>
          {{/if}}


          {{#if details.data.company.numEmployees}}
             <div>
                <span class="p-key"> Company Number of Employees: </span>
                <span class="p-value">{{details.data.company.numEmployees}}</span>
             </div>
           {{/if}}

           {{#if details.data.company.revenue}}
              <div>
                 <span class="p-key"> Company Revenue: </span>
                 <span class="p-value">{{details.data.company.revenue}}</span>
              </div>
            {{/if}}

            {{#if details.data.company.industry}}
               <div>
                  <span class="p-key"> Company Industry: </span>
                  <span class="p-value">{{details.data.company.industry}}</span>
               </div>
             {{/if}}

             {{#if details.data.company.industry}}
                <div>
                   <span class="p-key"> Company Industry: </span>
                   <span class="p-value">{{details.data.company.industry}}</span>
                </div>
              {{/if}}

              {{#if details.data.departments}}
             <div>
                 {{#each details.data.departments as |data|}}
                 <i class = "fa fa-info-circle #ADADAD"></i><span class = "p-key"> Departments: </span> <span class = "p-value">{{data.departmentName}}</span>
                     <ul>
                       {{#if data.displayName}}
                       <li><span class = "p-key"> Department Name: </span> <span class = "p-value">{{data.displayName}}</span></li>
                       {{/if}}
                       {{#if data.description}}
                       <li><span class = "p-key"> Departnment Description: </span> <span class ="p-value">{{data.description}}</span></li>
                      {{/if}}
                   </ul>
                 {{/each}}
             </div>
               {{/if}}

               {{#if details.data.jobFunctions}}
              <div>
                  {{#each details.data.jobFunctions as |data|}}
                  <i class = "fa fa-info-circle #ADADAD"></i><span class = "p-key"> Job Functions: </span> <span class = "p-value">{{data.jobFunctions}}</span>
                      <ul>
                        {{#if data.displayName}}
                        <li><span class = "p-key"> Jobs: </span> <span class = "p-value">{{data.displayName}}</span></li>
                        {{/if}}
                        {{#if data.description}}
                        <li><span class = "p-key"> Job Description: </span> <span class ="p-value">{{data.description}}</span></li>
                       {{/if}}
                    </ul>
                  {{/each}}
              </div>
                {{/if}}
